.service-list {
  border-collapse: collapse;
  margin-top: 20px;
  width: 70%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

.floated {
  float:left;
  margin-right:2px;
}
